<div>
	<b-container>
		<section id="main">
			<b-row>
				<b-col>
					<h2>ブロックチェーンのスマートコントラクトによる実装</h2>
					<p>
						ライトニングはブロックチェーンのスマートコントラクト機能を使った、ネットワークの参加者経由で即時支払を可能にする分散型のネットワークです。
					</p>
					<h3>どう動作するか</h3>
					<p>
						ライトニングネットワークはブロックチェーンの基礎となる技術に依拠しています。ビットコイン／ブロックチェーンの本物のトランザクションと、それら特有のスマートコントラクトスクリプト言語を用いることによって、大容量で高速な取引ができる安全なネットワークを参加者間で作成することができます。
					</p>
					<p>
						<strong>双方向ペイメントチャネル</strong>。二人の参加者は、（ライトニングネットワークへの）入場の為の出納帳をブロックチェーン上に作成し、これをすべての支払に利用する資金とすることを署名して合意します。両参加者は個々に割り当てた額を返金するトランザクションを作成しますが、ブロックチェーンにはブロードキャストしません。現在の出納帳のアウトプットを消費するトランザクションをたくさん作ることで、両当事者は出納帳の個々の割当額を更新できます。ブロックチェーンがパースできるマートコントラクトスクリプトによって、最新版の出納帳のみが有効とされます。最新版の出納帳をブロックチェーンにブロードキャストすることによって、いずれの当事者も、何らの信頼や管理を必要とせず、いつでも出納帳を閉じて（ライトニングネットワークから）出場することができます。
					</p>
					<p>
						<strong>ライトニングネットワーク</strong>。二者間の出納帳のネットワークを作成することによって、インターネットのパケットルーティングに類似したやり方で経路を見つけることができます。支払いは減少型のタイムロックを用いた不可分性（支払はすべて成功するか、すべて失敗するかのどちらかだけである）を強制するスクリプトによって行われるので、経路沿いにあるノードを信頼する必要はありません。
					</p>
					<p>
						<strong>裁定者としてのブロックチェーン</strong>。結果として、（ライトニングネットワークによって）オフチェーンでのトランザクションを無制限に管理することができます。オンチェーンの強制可能性による信頼性を伴ったオフチェーントランザクションを作成可能です。これは　ある人が多数の他人と法的な契約を締結するのと似ていますが、その人はそれぞれの契約締結時にその都度裁判所に行く必要がありません。トランザクションとスクリプトは（ブロックチェーンが）パース可能なため、スマートコントラクトのオンチェーン上での実行を強制できます。裁判所の協力が不要であり、ブロックチェーンの協力だけが必要なので、結果としてブロックチェーンが裁定者として機能します。
					</p>
				</b-col>
			</b-row>
		</section>

		<section id="more">
			<b-row>
				<b-col>
					<h2>その他の情報</h2>
					<h3>動画</h3>
					<p>
						<strong>ライトニングネットワークトーク</strong>
					</p>
					<div>
						<iframe id="ln-video" width="560" height="315" src="https://www.youtube.com/embed/8zVzw912wPo" frameborder="0" allow="autoplay; encrypted-media"
							allowfullscreen></iframe>
					</div>
					<h3>ドキュメント</h3>
					<p><router-link to="docs">ドキュメントのページ</router-link>を参考にしてください。</p>
				</b-col>
			</b-row>
		</section>
	</b-container>
</div>
