<div>
	<b-container>
		<b-row>
			<b-col>
				<h1>ライトニングネットワーク</h1>
				<h3>スケーラブルで即座に処理されるビットコイン／ブロックチェーンのトランザクション</h3>
			</b-col>
		</b-row>

		<b-row>
			<b-col>
				<h2>未来のトランザクション</h2>
				<p>
					<strong>即時支払い。</strong>ライトニングを用いた承認時間を考慮しなくてよい高速なブロックチェーン支払い。
				</p>
				<p>
					<strong>スケーラビリティ</strong>。ネットワーク経由で秒間数百万から数千万のトランザクション処理が可能。従来の決済手段とは桁違いの処理能力を誇る。ワンアクション／ワンクリックごとの支払いが、人間を介さずに実現可能。
				</p>
				<p>
					<strong>低コスト</strong>。トランザクションとその解決をオフチェーンで行うことにより、ライトニングネットワークは低い手数料を許容し、それによって即時送金のマイクロペイメントのようなユースケースが発生。
				</p>
				<p>
					<strong>クロスブロックチェーン</strong>。異なるコンセンサスルールを混成させ、チェーンをまたいだアトミックスワップがオフチェーンで即時に実行可能。チェーンが同様の暗号学的ハッシュ関数をサポートしている限り、第三者を信頼することなくブロックチェーンを超えたトランザクションの作成が可能。
				</p>
				<p>
					ライトニングネットワークがどのように動作するかを知りたい場合、<router-link to="how-it-works">How it Works</router-link>を参考にしてください。
				</p>
			</b-col>
		</b-row>

		<b-row>
			<b-col>
				<h2>このサイトについて</h2>
				<p>このサイトは、<a href="https://lightning.network/" target="_blank">Lightning Network</a>の日本語翻訳版です。<a href="https://ja.wikipedia.org/wiki/%E3%83%A9%E3%82%A4%E3%83%88%E3%83%8B%E3%83%B3%E3%82%B0%E3%83%8D%E3%83%83%E3%83%88%E3%83%AF%E3%83%BC%E3%82%AF"
					target="_blank">ライトニングネットワーク</a>をより多くの日本の開発者に知ってもらうことを目的としています。</p>
				<p>翻訳は忠実さよりわかりやすさを重視しており、適宜意訳や補足を加えています。翻訳は<a href="https://manga.green/" target="_blank">みどり合同会社</a>と、有志のボランティアが無償で行っています。我々は翻訳のプロではありません。そのため、情報がなるべく正確になるように努力はしますが、それを保証することはできません。正確な情報を求める場合は英語の原文を参照してください。</p>
				<p>翻訳協力者を随時募集中です。興味のある方は<a href="mailto:m@jiyu.green">こちら</a>までメールするか、<a href="https://twitter.com/jiyu33" target="_blank">Twitter</a>で連絡してください。翻訳の間違いや修正案の指摘も歓迎しています。翻訳データは<a
					href="https://github.com/midori-green/ln-translation" target="_blank">Github</a>で管理しています。直接プルリクエストを送っていただいても構いません。</p>
			</b-col>
		</b-row>
	</b-container>
</div>
